{% extends './layout/default.html' %}

{% block content %}
<section class="section_1 container_12">
  <div class="grid_9">
    <div class="module intro">
      <h5>企业简介</h5> 
      <div class="intro_content clearfix">
        <img class="show_image" src="/images/about.jpg" width="200" style="float:left;"/>
        <p>浙江瓯海禾丰粉丝机制造厂创办于1986年，地处温州市瓯海娄桥，是国内较早生产粉丝机及食品机械设备的厂家。</p> 
        <p>禾丰机械顺应市场需求，服务经济建设，面向企业和基层。经过多年的努力与创新，逐步发展成为极具竞争优势的规模化企业，并以雄厚的技术实力，相继开发研制了一系列品质可靠经济实用能为用户带来良好经济效益的先进设备，该系列产品畅销全国各地。历年来，企业荣获了省市“科技进步奖”，“发明成果奖”等诸多奖项。禾丰机械以良好的信誉赢得了全国用户的信赖，得到了各级领导的好评。
        </p>
        <p>禾丰机械自成立以来，始终不断创新，追求完美。主营：<strong>粉丝机，年糕机，虾片机，粉碎机，蒸熟机。</strong></p>
      </div>
    </div>
  </div>
  <div class="grid_3">
    {% include './layout/news_module.html' %}
  </div>
</section>
<section class="section_2 container_12">
  <div class="grid_3">

    {% include './layout/category.html' %}

    <div class="module certificate">
      <h5>企业荣誉</h5>
      <div class="certificate_inner" style="position:relative; overflow:hidden;">
        <ul>
          <li><a href="javascript;void(0);"><img src="/images/honor1.jpg" alt="" width="218" height="135"></a></li>
          <!--
          <li><a href="javascript:void(0);"><img src="/images/honor2.jpg" alt="" width="218" height="135"></a></li>
          <li><a href="javascript:void(0);"><img src="/images/honor3.jpg" alt="" width="218" height="135"></a></li>
          -->
        </ul>
      </div>
    </div>

    {% include './layout/fuwu_module.html' %}

  </div>
  <div class="grid_9">
    <div class="module product">
      <h5>热销推荐</h5> 
      <div class="products">
        <ul class="clearfix">
          {% for recommend in recommends %}
          <li>
            <div class="product_info">
              <p class="product_img">
              <a href="/products/{{recommend.category}}/{{recommend.id}}"><img src="{{ recommend.pic }}" alt="" width="130" height="130"></a>
              </p>
              <p class="product_name">
              <a href="/products/{{recommend.category}}/{{recommend.id}}">{{ recommend.name }}</a>
              </p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="hornor_modal">
    <img src="/images/honor1.jpg" alt="" width="600" height="370"/>
</div>

<link rel="stylesheet" href="/lib/unslider/css/unslider.css" type="text/css" media="all" />
<link rel="stylesheet" href="/lib/unslider/css/unslider-dots.css" type="text/css" media="all" />

{% endblock %}
