{% extends "./layout/default.html" %}

{% block content %}
<style type="text/css" media="">
div.news_show {
  padding-bottom: 10px;
}

.news_title {
  font-size: 20px;
  padding: 15px 5px;
  margin: 0 10px;
  color: #333;
  border-bottom: 1px dashed #ccc;
  text-align: center;
  font-weight: bold;
  padding-bottom: 18px;
}

.news_meta {
  padding: 5px 20px 10px 20px;
  color: #666;
}

.news_pv {
  float: right;
}

.summary {
  margin-bottom: 6px;
}

.news_content {
  padding: 8px 16px 32px 16px;
  line-height: 18px;
  border-bottom: 1px solid #666;
  margin-bottom: 16px;
}

.news_content h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 8px;
}

.news_content p {
  font-size: 14px;
  text-indent: 28px;
  margin-bottom: 10px;
  line-height: 22px;
}

.news_content img {
  border: 1px solid #cecece;
  margin-top: 25px;
}

.news_content ul {
  padding-left: 16px;
}

.news_content ul li {
  padding-top: 4px;
  padding-bottom: 4px;
}

.news_nav {
  text-align: center;
}

.news_nav a {
  display: inline-block;
  color: #666;
  text-decoration: none;
  padding: 2px 10px;
}

.news_nav a:hover {
  color: #ff0000;
}

</style>
<section class="container_12">
  <div class="grid_3">
    {% include './layout/category.html' %}

    {% include './layout/fuwu_module.html' %}

  </div> 

  <div class="grid_9">
    <div class="module">
      <h5>新闻动态</h5>
      <div class="news_show">
        <div class="news_show_inner">
          <div class="summary">
            <h1 class='news_title'>{{ news.name }}</h1>
            <p class="news_meta">
            <span>来源：http://zjwzhefeng.duapp.com</span>
            <span>发布时间：{{ news.date }}</span>
            <span class="news_pv">浏览次数：{{ news.pv }}</span>
            </p>
          </div>
          <div class="news_content">
            <div class="news_content_inner">
              {{ news.content | safe }}
            </div>
          </div>
        </div>
      <div class="news_nav">
          {% if prev %}
            <a href="/news/{{ prev.id }}">←[上一个新闻：{{ prev.name }}]   </a> 
          {% endif %}
          {% if next %}
          <a href="/news/{{ next.id }}">[下一个新闻：{{ next.name }}]→</a> 
          {% endif %}
      </div>
      </div>
    </div>

    <div class="module">
      <h5>相关产品</h5>
      <div class="products">
        <ul class="clearfix" style="min-height: 188px;height: 188px;">
         {% for recommend in recommends_list %}
          <li>
            <div class="product_info">
              <p class="product_img">
              <a href="/products/{{ recommend.category }}/{{ recommend.id }}#banner"><img src="{{ recommend.pic }}" alt="" width="140" height="140"></a>
              </p>
              <p class="product_name">
              <a href="/products/{{ recommend.category  }}/{{ recommend.id }}#banner">{{ recommend.simplename }}</a>
              </p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}



