<div class="module">
  <h5>产品列表</h5>
  <div class="category">
    <ul>
      <li><a href="/products/fensiji">粉丝机</a></li>
      <li><a href="/products/shusongdai">输送带</a></li>
      <li><a href="/products/jiaobanji">搅拌机</a></li>
      <li><a href="/products/cuosiji">搓丝机</a></li>
      <li><a href="/products/zidongqiegeji">自动切割机</a></li>
      <li><a href="/products/jiqijia">机器架</a></li>
      <li><a href="/products/fensuiji">粉碎机</a></li>
      <li><a href="/products/zhengshuji">蒸熟机</a></li>
      <li><a href="/products/niangaoqietiaoji">年糕切条机</a></li>
      <li><a href="/products/zidongshangliaoji">自动上料机</a></li>
      <li><a href="/products/xiapianji">虾片机</a></li>
      <li><a href="/products/xiapianqiepianji">虾片切片机</a></li>
      <li><a href="/products/fenjing">粉镜/模具</a></li>
    </ul>
  </div>
</div>

