<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>粉丝机、全自动粉丝机、粉条机、虾片机、年糕机、米粉机、米面机、浙江瓯海禾丰粉丝机制造厂</title>
    {% if keywords %}
      <meta name="keywords" content="{{ keywords }}" />
    {% else %}
      <meta name="keywords" content="粉丝机、粉丝机价格、米粉机、米粉机价格、米线机、全自动粉丝机、粉条机、虾片机、年糕机、蒸熟机、粉镜、禾丰、禾丰机械、禾丰粉丝机、温州粉丝机" />
    {% endif%}
    <meta name="description" content="浙江瓯海禾丰粉丝机制造厂专业生产粉丝机，粉丝机，米粉机，粉条机，米线机,虾片机，年糕机等食品机械设备，该系列产品畅销全国，获得用户信赖，一致好评" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
    <!--<script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script> -->
    <script src="http://lib.sinaapp.com/js/jquery/1.7.2/jquery.min.js"></script>
  </head>
  <script type="text/javascript" charset="utf-8">
    (function() {
      if (! 
          /*@cc_on!@*/
        0) return;
        var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
        var i= e.length;
        while (i--){
          document.createElement(e[i])
        } 
    })()  
  </script>
  <body>
    <div class="contianer">
      <header>
        <div class="container_12">
          <div class="header_inner grid_12">
            <div class="logo">
              <img class="logo_icon" src="/images/logo_2.png" alt="" width="80">
              <h1 class="logo_zh">瓯海禾丰粉丝机制造长</h1>
              <p class="logo_en">WenZhou OuHai HeFeng Glass Noodles Machines Co.,Ltd</p>
            </div>
            <div class="contact_phone">
              <p>咨询电话:</p>
              <p>0577-86361187</p>
            </div>
            <div class="sub_header">
              <a href="javascript:void(0);" class="addHome" onclick="SetHome(this, 'http://www.zjezhefeng.cn')">设为首页</a> 
              <a href="javascript:void(0);" class="addFav" onclick="AddFavorite('瓯海禾丰粉丝机制造厂', location.href)">加入收藏</a>
              <a href="https://zjohhefeng.1688.com/" style="border: 0;" target="_blank"><img src="/images/chengxintong.jpg" alt="" width="150"></a>
            </div>
          </div>
        </div>
      </header>
      <nav class="">
        <ul class="head_nav container_12">
          <li>
            <a href="/">网站首页</a> 
          </li>
          <li>
            <a href="/about_us">企业介绍</a>
          </li>
          <li>
            <a href="/products">产品展示</a>
          </li>
          <li>
            <a href="/videos">产品视频</a> 
          </li>
          <li>
            <a href="/news">新闻动态</a>
          </li>
          <li>
            <a href="/support">服务支持</a>
          </li>
          <li>
            <a href="/contact_us">联系我们</a>
          </li>
        </ul>
      </nav>

      <section id="banner" class="slider container">
        <div class="container_12">
          <div class="grid_12">
            <div class="slider_banner">
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="1000" height="450">
                <param name="movie" value="/template/style02/banner.swf">
                <param name="quality" value="high">
                <param name="WMode" value="Transparent">
                <embed src="http://www.wzhefeng.cn/template/style02/banner.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="800" height="450" wmode="transparent">
              </object>
            </div>
          </div>
        </div>
      </section>

      {% block content %}{% endblock %}

      <footer>
        <div class="container_12">
          <div class="footer_inner grid_12">
            <div class="foot_nav">
              <a href="/">首页</a>
              |
              <a href="/about_us">关于我们</a>
              |
              <a href="/products">产品展示</a>
              |
              <a href="/videos">产品视频</a>
              |
              <a href="/news">新闻动态</a>
              |
              <a href="/support">服务支持</a>
              |
              <a href="/contact_us">联系我们</a>
              |
              <a href="/sitemap.html">网站地图</a>
              |
              <a href="/">首页</a>
            </div>
            <div class="copyright">
              版权所有(c) 2017 <a href="#">瓯海禾丰粉丝机制造厂</a> | <script src="https://s19.cnzz.com/z_stat.php?id=1263031820&web_id=1263031820" language="JavaScript"></script>
            </div>
            <div class="foot_contact">
              电话: 0577-86361187 传真: 0577-86368899 地址：浙江温州瓯海区娄桥街道娄桥村天灯路169号
            </div>
          </div>
          <div class="footer_keywords container_12">
            <strong>Keywords: 粉丝机 米粉机 虾片机 年糕机 搅拌机 搓丝机 粉碎机 蒸熟机 切割机 粉镜</strong>
          </div>
        </div>
      </footer>
    </div>


    <div class="zixun">
      <a href="javascript:void(0);" class="zixun_btn"><img src="/images/zixun.png" alt=""></a>
    </div>

    <div class="message_form">
      <div class="message_title">
        请您留言
      </div>
      <div class="message_content">
        <p>
        <textarea name="" class="msg_content" placeholder="请在此输入留言内容，我们会尽快与您联系。" col="40"></textarea><span>*</span>
        </p>
        <p>
        <label for="">电话</label>
        <input type="text" name="" class="msg_phone" value="" placeholder="请输入您的电话号码"><span>*<span>
        </p>
        <p style="text-align:center;margin-top: 20px;">
        <a href="javascript:void(0);" class="msg_btn">发送</a>
        </p>
      </div>
    </div>
    <div class="keifu">
      <div class="keifu_tab">
        <div class="icon_keifu"></div>
        <div class="keifu_box">
          <div class="keifu_head"><a href="javascript:void(0)" class="keifu_close"></a></div>
          <ul class="keifu_con">
            <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=99628028&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:99628028:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
            <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=99628028&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:99628028:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
            <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=99628028&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:99628028:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
            <li></li>
          </ul>
          <div class="keifu_bot"></div>
        </div>
      </div>
    </div>
    <script type="text/javascript" charset="utf-8">
      $(function(){
        var KF = $(".keifu");
        var wkbox = $(".keifu_box");
        var kf_close = $(".keifu .keifu_close");
        var icon_keifu = $(".icon_keifu");
        var kH = wkbox.height();
        var kW = wkbox.width();
        var wH = $(window).height();
        KF.css({height:kH});
        icon_keifu.css("top",parseInt((kH-100)/2));
        var KF_top = (wH-kH)/2;
        if(KF_top<0) KF_top=0;
        KF.css("top",KF_top);
        $(kf_close).click(function(){
          KF.animate({width:"0"},200,function(){
            wkbox.hide();
            icon_keifu.show();
            KF.animate({width:26},300);		
          });	
        });
        $(icon_keifu).click(function(){
          $(this).hide();
          wkbox.show();
          KF.animate({width:kW},200);
        });

        initMessage();
      });

      function SetHome(obj,url){
        try{
          obj.style.behavior='url(#default#homepage)';
          obj.setHomePage(url);
        }catch(e){
          if(window.netscape){
            try{
              netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
            }catch(e){
              alert("抱歉，此操作被浏览器拒绝！\n\n请在浏览器地址栏输入“about:config”并回车然后将[signed.applets.codebase_principal_support]设置为'true'");
            }
          }else{
            alert("抱歉，您所使用的浏览器无法完成此操作。\n\n您需要手动将【"+url+"】设置为首页。");
          }
        }
      }

      function AddFavorite(title, url) {
          try {
              window.external.addFavorite(url, title);
          }
          catch (e) {
              try {
                  window.sidebar.addPanel(title, url, "");
              }
              catch (e) {
                  alert("抱歉，您所使用的浏览器无法完成此操作。\n\n加入收藏失败，请使用Ctrl+D进行添加");
              }
          }
      }

      function initMessage() {
        $('.zixun_btn').click(function() {
          $('.message_form').show();
        });
      
        $('.msg_btn').click(function() {
          var msg = $('.msg_content').val().trim();
          var phone = $('.msg_phone').val().trim();

          $.ajax({
            url: '/messages',
            data: {
              content: msg,
              phone: phone
            },
            type: 'POST',
            success: function(res) {
              alert('感谢您的咨询！我们会尽快与您联系');
              $('.message_form').hide();
            }
          })
        });
      }
</script>
  <script>
  (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
          bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
      }
      else {
          bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
  })();
  </script>
  </body>
  
</html>
