<div class="fuwu module">
  <h5>售后服务</h5>
  <div class="fuwu_inner">
    <p class="clearfix"><span class="label">电话：</span><span class="detail">0577-86361187</span></p>
    <p class="clearfix"><span class="label">Q Q：</span> <span class="detail"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=99628028&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:99628028:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></span></p>
    <p class="clearfix"><span class="label">传真：</span> <span class="detail"> 0577-86368899</span></p>
    <p class="clearfix" style="height: 65px;"><span class="label">手机：</span>  <span class="detail"><i>13858847388</i><i>13857776677</i><i>13868844844</i></span></p>
    <p class="clearfix"><span class="label">邮箱：</span>  <span class="detail">jueni998@hotmail.com</span></p>
    <p class="clearfix"><span class="label">地址：</span> <span class="detail">瓯海区娄桥街道天灯路169号</span></p>
  </div>
</div>

